@charset "UTF-8";

@import url('https://fonts.googleapis.com/css?family=Titillium+Web');	
@font-face {
	font-family: 'FonteLogo'; 		/*Nome que será utilizado para a fonte*/
	src: url("../_fonts/bubblegum-sans-regular.otf");
}

/* Comando utilizado para se usar fontes próprias da pasta.
O comando acima importa uma fonte de outro site --> é necessário colocar a fonte
no objeto (no caso, em h2) */

p {											
	text-align: justify;
	text-indent: 50px;
}

a {
	color: #606060;
	text-decoration: none;
}

a:hover {
	text-decoration: underline;
}

body{
	font-family: Arial, sans-serif;
	color: rgba(0,0,0,1);
	background-color: #dddddd;		
}

/*
background-color: ; muda a cor do fundo do site, colocado em body {}
color: ; muda a cor do texto
background-image: url(nome_do_arquivo.jpg) serve para colocar uma imagem de fundo no site. Deve estar na mesma pasta do index.html
rgba(x,x,x,x); seta a cor do parâmetro para x vermelho, x verde, x azul e x de opacidade (entre 0.0 e 1.0).
hsla(x,x%,x%,x); seta a cor do parâmetro para x de hue, x% de saturation, x% de lightness e x de opacidade (entre 0.0 e 1.0)
*/

div#interface {
	width: 900px;
	background-color: #ffffff;
	margin: -20px auto 0px auto;
	box-shadow: 0px 0px 10px rgba(0,0,0,.5);
	padding: 10px 10px 10px 10px;  /* Se todos forem iguais pode colocar um só */
}

/*
Formatação para uma div com o id interface
width --> largura da div "interface"
background-color --> cor de fundo da div
margin --> estabelece as margens respectivamete de top, right, bottom, left 
		   "auto" significa que a margem fica automática e centralizada.
box-shadow --> sombra em torno do objeto. Respectivamente deslocamento lateral, deslocamento vertical, espalhamento e cor.
padding --> espaço interno do objeto. Respectivamente, top, right, bottom, left.
*/

header#cabecalho img#icone {
	position: absolute;
	left: 1000px;
	top: 70px;
}

/*
Formatação do objeto img com id icone dentro do header
position --> absoluta em relação a todo layout
left: espaço da margem esquerda
top: espaço da margem de cima;
*/

header#cabecalho {
	border-bottom: 1px #606060 solid;
	height: 150px;
	background: url("../_imagens/glass-logo-peq.jpg") no-repeat 0px 80px;
}

header#cabecalho h1 {
	font-family: 'FonteLogo', sans-serif;
	font-size: 30pt;
	color: #606060;
	text-shadow: 1px 1px 1px rgba(0,0,0,.6);
	padding: 0px;
	margin-bottom: 0px;
}

header#cabecalho h2 {
	font-family: 'Titillium Web', sans-serif;
	color: #888888;
	font-size: 15pt;
	padding: 0px;
	margin-top: 0px;
}

/*
Formatação do header inteiro
border-bottom --> borda inferior. Respectivamente: largura, cor, formato (solid, dashed...)
height --> altura do cabeçalho
background --> seta uma imagem de fundo do header. Respectivamente endereço, sem repetição, deslocamento lateral e deslocamento vertical.
*/

figure.foto-legenda{
	position: relative;
	border: 8px solid white;
	box-shadow: 1px 1px 4px black;
}

figure.foto-legenda img{
	width: 100%;
	height: 100%;
}

figure.foto-legenda figcaption{
	opacity: 0;
	position: absolute;
	top: 0px;
	background-color: rgba(0,0,0,0.4);
	color: white;
	width: 100%;
	height: 100%;
	padding: 10px;
	box-sizing: border-box;
	transition: opacity 0.5s;
}

figure.foto-legenda:hover figcaption{
	opacity: 1;
}

/*
Tudo que for da classe foto-legenda, terá a formatação acima 

border: seta uma borda para a imagem com x pixels de largura, o estilo (solid) e a cor (red);
box-shadow: seta uma sombra pra imagem de xpx deslocamento horiz. xpx deslocamento vertical, xpx espalhamneto e cor(black);

foto-legenda img seta um comportamento para a foto: ao aumentar e diminuir a janela, a imagem aumenta e diminui também;
*/

/* Formatação do Menu em CSS */
nav#menu {
	display: block;
}

nav#menu ul {
	list-style: none;
	text-transform: uppercase;
	position: absolute;
	top: -20px;
	left: 450px;
}

/*
Aqui entra a formatação do menu em CSS.
O "#menu" linka com o <nav id="menu"> do index.

list-style: determina o estilo dos marcadores da lista. Pode ser "none, circle, disc, etc"
text-transform: determina o estilo de letra (maiúsculas "uppercase", minúsculas "lowercase"...)

Position: absolute --> refere-se à pagina como um todo
position: relative --> refere-se à div onde está colocada;
*/

nav#menu li {
	display: inline-block;
	background-color: #dddddd;
	padding: 10px;
	margin: 20p;
	transition: background-color 1s;		/* Tempo de resposta do atributo background-color */
}

/*
Para reorganizar os códigos ao ponto de ele funcionar em outros navegadores,
principalmente antigos, a dica é ir até o site prefixr.com, copiar
o código a ser traduzido (exemplo: transition: background-color 1s;), colar 
na área indicada e clicar em Prefixize.
*/

nav#menu li:hover {
	background-color: #606060
}

/*
Formatação para cada ítem da lista acima, por isso "li" na frente de nav#menu

display: altera a disposição dos ítens da lista ("inline-block" coloca o menu na horizontal);
padding: altera o espaço dentro da caixa, no caso o tamanho do background color;
margin: altera o espaço entre um item e outro da lista;
*/

nav#menu h1 {
	display: none;
}

/*
Tags abaixo.
Todo 'nav' atribuido a 'menu' e que tenha uma tag ('a'), vai ter
as características abaixo
*/

nav#menu a {
	color: black;
	text-decoration: none;
	font-family: Arial;
}

nav#menu a:hover {
	color: white;
	text-decoration: underline;
	/* transition: color 1s; */
}

section#corpo {
	display: block;
	width: 500px;
	float: left;
	border-right: 1px solid #606060;
	padding-right: 15px;
}

/*
Formatação da section com o id corpo
display --> mostra como um bloco (block)
width --> largura
float --> comando para o objeto flutuar (tem que estar setado como display: block)
*/

article#noticiaprincipal h2 {
	font-size: 13pt;
	color: #606060;
	background-color: #dddddd;
	padding: 5px 0px 5px 10px;
	margin: 10px 0px 10px 0px;
}

header#cabecalho-artigo h1 {
	font-family: 'FonteLogo', sans-serif;
	font-size: 20pt;
	color: #606060;
	margin-bottom: 0px;
	margin-top: 0px;
}

.direita {
	text-align: right;
}

header#cabecalho-artigo h2 {
	font-size: 13pt;
	color: #cecece;
	background: #ffffff;
	margin: 0px;
}

header#cabecalho-artigo h3 {
	font-size: 12pt;
	color: #606060;
}

table#tabelaspec {
	border: 1px solid #606060;
	border-spacing: 0px;
	margin-left: auto;
	margin-right: auto;
}

table#tabelaspec td {
	border: 1px solid #606060;
	padding: 10px;
	text-align: center;
	vertical-align: middle;
}

table#tabelaspec td.ce {
	color: white;
	background-color: #606060;
	vertical-align: top;
	font-weight: bold;
}

/* Formatação para todas as células td que estiverem na classe ce */

table#tabelaspec td.cd {
	background-color: #cecece;
	text-align: left;
}

/* Formatação para todas as células td que estiverem na classe cd */

table#tabelaspec caption {
	color: #888888;
	font-size: 13pt;
	font-weight: bolder;
}

table#tabelaspec caption span {
	display: block;
	float: right;
	color: black;
	font-size: 8pt;
	margin-top: 10px;
}

aside#lateral {
	display: block;
	width: 350px;
	float: right;
	background-color: #dddddd;
	padding: 10px;
	margin-top: 10px;
	box-shadow: 2px 2px 2px rgba(0,0,0,.5);
}

/*
Formatação do aside com o id lateral
display --> mostra como um bloco (block)
width --> largura
*/

aside#lateral h1 {
	font-family: 'FonteLogo', sans-serif;
	font-size: 20pt;
	color: #606060;
	margin-top: 0px;
}

aside#lateral h2 {
	background-color: #606060;
	font-size: 13pt;
	color: white;
	padding: 5px;
}


footer#rodape {
	clear: both;
	border-top: 1px solid #606060;
}

/*
Formatação do rodape (footer) com id rodape
clear: both --> limpa a configuração dos objetos acima. Mostra o conteudo fora da divisão
*/


footer#rodape p {
	text-align: center;
}

/*
Formatação do rodape (footer) com id rodape - p se refere a tudo que for <p> nesse espaço
text-align --> seta todo o texto como centralizado
*/